@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
  font-weight: 500;
}

body, .root, .wrapper {
  width: 100%;
  min-height: 100vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 813px;
}
.header__video {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 732px;
  min-height: 360px;
  text-align: center;
}
.header__title {
  font-size: 60px;
  line-height: 75px;
  font-weight: 100;
  letter-spacing: 0.04em;
  color: #fff;
  -webkit-animation: header-title 1s ease-in-out;
          animation: header-title 1s ease-in-out;
}
.header__player {
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  min-width: 80px;
  min-height: 80px;
  color: #8d8d8d;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.header__player:hover {
  color: #323969;
}
.header__btn {
  margin-top: 30px;
}
.header__text {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #282828;
}

.design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  width: 100%;
  height: 724px;
}
.design__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0 32px;
  max-width: 900px;
  height: 100%;
}
.design__h2 {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
}
.design__h2.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.design__paragraphs {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}
.design__paragraphs.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.design__fon {
  min-width: 568px;
  height: 100%;
  background: url(../fon/design_fon.jpg) no-repeat;
}

.featur {
  min-width: 100%;
  min-height: 675px;
  background: url("../fon/fon__featur.png") no-repeat;
  background-size: cover;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.featur__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.featur__h1 {
  font-size: 24px;
  line-height: 49px;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: #ff6d6d;
}
.featur__h2 {
  font-size: 40px;
  line-height: 49px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #282828;
}
.featur__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 90px;
}
.featur__column {
  max-width: 350px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  margin: 20px 40px;
}
.featur__column.left {
  -webkit-transform: translateX(-220%);
          transform: translateX(-220%);
}
.featur__column.center {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}
.featur__column.right {
  -webkit-transform: translateX(220%);
          transform: translateX(220%);
}
.featur__column.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.featur__h3 {
  font-size: 22px;
  line-height: 49px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #282828;
}
.featur__paragraph {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #282828;
}

.note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  min-height: 550px;
  overflow: hidden;
}
.note__h2 {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}
.note__h2.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.note__p {
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
}
.note__p.active {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.note__book {
  min-width: 730px;
  min-height: 407px;
  background: url("../fon/macbook.png") no-repeat;
  background-size: cover;
  overflow: hidden;
}
.note__text {
  max-width: 700px;
}
.note__window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  max-width: 525px;
  min-height: 325px;
  background-color: rgba(255, 94, 94, 0.4941176471);
  margin: 5% auto;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.note__window.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.note__item {
  min-width: 100%;
  min-height: 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.note__item.i1 {
  background-color: #ff4bf0;
}
.note__item.i2 {
  background-color: #323969;
}
.note__item.i3 {
  background-color: #ff6d6d;
}
.note__item.i4 {
  background-color: #fff;
}
.note__item.i5 {
  background-color: #282828;
}
.note__button {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.note__button:hover {
  scale: 1.2;
}
.note__button.next {
  top: 50%;
  right: 10px;
  font-size: 28px;
}
.note__button.back {
  font-size: 20px;
  top: 50%;
  left: 10px;
}

.employee {
  background: url("../fon/_employee__fon.png") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 650px;
}
.employee__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1280px;
  padding-top: 120px;
}
.employee__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  text-align: center;
  margin: 10px 30px;
  max-width: 350px;
}
.employee__column.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.employee__img {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #4e4e5e;
  border: 2px solid #1d1e24;
}
.employee__img img {
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 80px;
  height: 80px;
}
.employee__h1 {
  font-size: 22px;
  line-height: 49px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.employee__h2 {
  font-size: 16px;
  line-height: 49px;
  font-weight: 500;
  color: #ff6d6d;
}
.employee__text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.04em;
  color: #ffffff;
  opacity: 0.65;
}
.employee__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 80px auto 50px auto;
  max-width: 1000px;
}
.employee__icon {
  margin: 10px 30px;
  max-width: 130px;
  max-height: 65px;
}
.employee__icon img {
  max-width: 130px;
  max-height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
}

.awesome {
  width: 100%;
  min-height: 754px;
  background-color: #f6f5f3;
  overflow: hidden;
}
.awesome__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  opacity: 0;
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 0;
}
.awesome__text.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.awesome__h1 {
  font-size: 24px;
  line-height: 49px;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: #ff6d6d;
}
.awesome__h2 {
  font-size: 48px;
  line-height: 49px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #282828;
  margin-bottom: 40px;
}
.awesome__p {
  opacity: 0.65;
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #282828;
}
.awesome__window {
  max-width: 768px;
  min-height: 322px;
  margin: 0 auto;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background: url("../fon/display.png") no-repeat;
  background-size: cover;
}
.awesome__window.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 500px;
  background-color: #323969;
}
.start__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}
.start__h1 {
  font-size: 28px;
  line-height: 49px;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: #ff6d6d;
}
.start__h2 {
  font-size: 54px;
  line-height: 49px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.start__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  max-width: 1200px;
  margin-top: 30px;
}
.start__days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.start__days b {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #f6f5f3;
}
.start__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.start__form input {
  margin: 20px 15px;
}
.start__form_input {
  position: absolute;
  top: 0;
  left: -16px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 3px;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #fff;
}
.start__form div {
  position: relative;
  width: 265px;
  height: 51px;
  margin: 0px 12px;
}
.start__error {
  position: absolute;
  left: -12px;
  top: -10px;
  font-size: 16px;
  color: #ff6d6d;
}
.start__password {
  width: 265px;
  height: 51px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #f6f5f3;
  background-color: #ff6d6d;
  border: 1px solid #ff6d6d;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
          box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
  border-radius: 3px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.start__password:hover {
  background-color: transparent;
}
.start__footer {
  opacity: 0.6;
  font-size: 16px;
  line-height: 75px;
  margin-top: 20px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #f6f5f3;
}
.start__footer b {
  text-decoration: underline;
}

.p {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #282828;
  margin-top: 5%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.h2 {
  font-size: 54px;
  line-height: 150%;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: #282828;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.h1 {
  font-size: 24px;
  line-height: 200%;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: #ff6d6d;
  text-transform: uppercase;
}

.toch {
  color: #ff6d6d;
}

.btn {
  padding: 18px 0;
  background-color: #ff6d6d;
  border-radius: 3px;
  border: 2px solid #ff6d6d;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.btn a {
  padding: 18px 48px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-decoration: none;
}
.btn:hover {
  background: transparent;
  border: 2px solid #ffffff;
  scale: 1.1;
}

@-webkit-keyframes header-title {
  0% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    color: transparent;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    color: #fff;
  }
}

@keyframes header-title {
  0% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    color: transparent;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    color: #fff;
  }
}
@media (max-width: 1200px) {
  .note__h2 {
    font-size: 32px;
  }
  .note__p {
    letter-spacing: 0.004em;
  }
  .note__book {
    min-width: 630px;
    min-height: 367px;
  }
  .note__window {
    max-width: 454px;
    min-height: 280px;
  }
}
@media (max-width: 1024px) {
  .design__h1 {
    font-size: 16px;
  }
  .design__h2 {
    font-size: 32px;
  }
  .design__fon {
    min-width: 45%;
  }

  .featur__titles {
    margin-top: 30px;
  }

  .header {
    height: 600px;
  }

  .note {
    min-height: 450px;
  }
  .note__h1 {
    font-size: 16px;
  }
  .note__h2 {
    font-size: 24px;
  }
  .note__p {
    font-size: 12px;
  }
  .note__book {
    min-width: 530px;
    min-height: 307px;
  }
  .note__window {
    max-width: 380px;
    min-height: 235px;
  }

  .start__h1 {
    font-size: 16px;
  }
  .start__h2 {
    font-size: 46px;
  }
  .start__form div {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .design {
    position: relative;
  }
  .design__fon {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    min-width: 100%;
  }

  .header {
    height: 700px;
  }
  .header__title {
    font-size: 46px;
    max-width: 600px;
    margin: 0px 20px;
  }

  .note {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .note__text {
    margin: 0 20px;
  }
  .note__h1 {
    font-size: 24px;
  }
  .note__h2 {
    font-size: 32px;
  }
  .note__p {
    font-size: 16px;
    letter-spacing: 0.04em;
  }

  .start__h2 {
    font-size: 32px;
  }
}
@media (max-width: 599px) {
  .design__h2 {
    font-size: 24px;
  }
  .design__paragraphs {
    font-size: 16px;
  }

  .header__title {
    font-size: 32px;
    max-width: 400px;
  }

  .note__h1 {
    font-size: 16px;
  }
  .note__h2 {
    font-size: 24px;
  }
  .note__p {
    font-size: 12px;
  }
  .note__book {
    min-width: 400px;
    min-height: 230px;
  }
  .note__window {
    max-width: 290px;
    min-height: 178px;
  }

  .start__h2 {
    font-size: 24px;
  }
  .start__form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 425px) {
  .header__title {
    font-size: 28px;
  }

  .note__book {
    min-width: 320px;
    min-height: 180px;
  }
  .note__window {
    max-width: 230px;
    min-height: 142px;
  }
}