@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
    font-weight: 500;
}

body, .root, .wrapper{
    width: 100%;
    min-height: 100vh;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 100%;
    height: 813px;
    &__video{
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;

        z-index: -1;
        width: 100%;
        height: 100%;
    }
    &__box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        max-width: 732px;
        min-height: 360px;
        text-align: center;
    }
    &__title{
        font-size: 60px;
        line-height: 75px;
        font-weight: 100;
        letter-spacing: 0.04em;
        color: #fff;
        animation: header-title 1s ease-in-out;
    }
    &__player{
        z-index: 9999;
        display: flex;

        margin-top: 30px;
        min-width: 80px;
        min-height: 80px;
        color: #8d8d8d;
        cursor: pointer;
        transition: 0.2s ease;
        &:hover{
            color: #323969;
        }
    }
    &__btn{
        margin-top: 30px;
    }
    &__text{
        margin-top: 20px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.04em;
        color: #282828;
    }
}

.design{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    
    width: 100%;
    height: 724px;
    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0 32px;

        max-width: 900px;
        height: 100%;
    }
    &__h1{
        font-size: 32px;
        line-height: 200%;
        font-weight: 500;
        letter-spacing: 0.2em;
        color: #ff6d6d;
        text-transform: uppercase;
    }
    &__h2{
        font-size: 54px;
        line-height: 150%;
        font-weight: 600;
        letter-spacing: 0.04em;
        color: #282828;
        transform: translateX(-150%);
        transition: 0.8s;
        &.active{
            transform: translateX(0);
        }
    }
    &__paragraphs{
        font-size: 16px;
        line-height: 150%;
        font-weight: 500;
        letter-spacing: 0.04em;
        color: #282828;
        margin-top: 5%;
        transition: 0.8s;
        transform: translateX(200%);
        &.active{
            transform: translateX(0);
        }
    }
    &__toch{
        color: #ff6d6d;
    }
    &__fon{
        min-width: 568px;
        height: 100%;
        background: url(../fon/design_fon.jpg) no-repeat;
    }
}

.featur{
    min-width: 100%;
    min-height: 675px;
    background: url('../fon/fon__featur.png') no-repeat;
    background-size: cover;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    &__box{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    // &__titles{
    //     margin-top: 30px;
    // }
    &__h1{
        font-size: 24px;
        line-height: 49px;
        font-weight: 500;
        letter-spacing: 0.2em;
        color: #ff6d6d;
    }
    &__h2{
        font-size: 40px;
        line-height: 49px;
        font-weight: 500;
        letter-spacing: 0.04em;
        color: #282828;
    }
    &__columns{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 90px;
    }
    &__column{
        max-width: 350px;
        transition: 0.8s;
        margin: 20px 40px;
        &.left{
            transform: translateX(-220%);
        }
        &.center{
            transform: translateY(200%);
        }
        &.right{
            transform: translateX(220%);
        }
        &.active{
            transform: translateX(0);
        }
    }
    &__h3{
        font-size: 22px;
        line-height: 49px;
        font-weight: 500;
        letter-spacing: 0.04em;
        color: #282828;
    }
    &__paragraph{
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        letter-spacing: 0.04em;
        color: #282828;
    }
}

// BUTTON





.btn{
    padding: 18px 0;
    background-color: #ff6d6d;
    border-radius: 3px;
    border: 2px solid #ff6d6d;
    transition: 0.2s ease;
    & a{
        padding: 18px 48px;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #ffffff;
        text-decoration: none;
    }
    &:hover{
        background: transparent;
        border: 2px solid #ffffff;
        scale: 1.1;
    }
}

// BUTTON

@keyframes header-title{
    0%{
        transform: translateY(-150px);
        color: transparent;
    }
    100%{
        transform: translateY(0px);
        color: #fff;
    }
}

@media (max-width: 1024px) {
    .design{
        &__h1{
            font-size: 16px;
        }
        &__h2{
            font-size: 32px;
        }
        &__fon{
            min-width: 45%;
        }
    }
    .featur{
        &__titles{
            margin-top: 30px;
        }
    }
    .header{
        height: 600px;
    }
}

@media (max-width:768px){
    .design{
        position: relative;
        &__fon{
            z-index: -1;
            position: absolute;
            left: 0;
            top: 0;
            background-size: cover;
            min-width: 100%;
        }
    }
    .header{
        height: 700px;
        &__title{
            font-size: 46px;
            max-width: 600px;
            margin: 0px 20px;
        }
    }
}

@media (max-width:599px){
    .design{
        &__h2{
            font-size: 24px;
        }
        &__paragraphs{
            font-size: 16px;
        }
    }
    .header__title{
        font-size: 32px;
        max-width: 400px;
    }
}

@media(max-width:425px){
    .header__title{
        font-size: 28px;
    }
}
